<html ng-app="UnitConverter">
	<head>
		<title>Unit Converter</title>
	</head>
	<body>
		<h1>Converter App</h1>
		<div ng-controller="UnitConverterController as ucc">
			<input type="text" ng-model="ucc.weightValue" id="Weight_value" name="VALUE" placeholder="Enter amount">
			<select ng-model="ucc.selected_metric_volume_unit"
					ng-options="unit.unit_name for unit in ucc.metric_volume_units"
					ng-change="ucc.showSelectedUnit()"></select>
					<!--//5 more to go-->
			<input type="text" ng-model="ucc.imperial_weightValue" id="Weight_value" name="VALUE" placeholder="Enter amount">
			<select ng-model="ucc.selected_imperial_volume_unit"
					ng-options="unit.imperial_unit_name for unit in ucc.imperial_volume_units"
					ng-change="ucc.showSelectedImperialUnit()"></select>
					<button ng-click="" ng-init="count=0">Convert</button>
			
					
				<div>
				<p>Selected unit is: <span ng-bind="ucc.selected_metric_volume_unit.unit_name"></span></p>
				<p>Converting to: <span ng-bind="ucc.selected_imperial_volume_unit.imperial_unit_name"></span></p>
				</div>
				<br>
				<br>
				
					
			<!-- For the mass metric-->
			<input type="text" ng-model="ucc.metricMassValue" id="Mass_value" name="VALUE" placeholder="Enter amount">
			<select ng-model="ucc.selected_metric_mass_unit"
					ng-options="unit.metric_unit_mass_name for unit in ucc.metric_mass_units"
					ng-change="ucc.showSelectedMassUnit()"></select>
					<button class="btn btn-sm btn-primary" type="submit">Convert Mass</button>
			<!-- For the mass imperial-->
			<input type="text" ng-model="ucc.imperialMassValue" id="Mass_value" name="VALUE" placeholder={{amounts}}>
			<select ng-model="ucc.selected_imperial_mass_unit"
					ng-options="unit.imperial_unit_mass_name for unit in ucc.imperial_mass_units"
					ng-change="ucc.showSelectedMassImperialUnit()"></select>
					<button ng-click="myMeter()">Convert</button>
				<script>
				angular.module('metricToimperial', [])
				.controller('myCtrl', ['$scope', function($scope){
				$scope.meter = 0;
				$scope.myMeter = function(){
				$scope.count++;
				};
				}]);
				</script>
				<div>
				
				
				<p>Selected unit is: <span ng-bind="ucc.selected_metric_mass_unit.metric_unit_mass_name"></span></p>
				<p>Converting to: <span ng-bind="ucc.selected_imperial_mass_unit.imperial_unit_mass_name"></span></p>
				</div>
				<br>
				<br>
			
			<input type="text" ng-model="ucc.metricLengthValue" id="Length_value" name="VALUE" placeholder="Enter amount">
			<select ng-model="ucc.selected_metric_length_unit"
					ng-options="unit.metric_length_unit_name for unit in ucc.metric_length_units"
					ng-change="ucc.showSelectedLengthUnit()"></select>
			<!-- For the length metric-->
			<input type="text" ng-model="ucc.imperialLengthValue" id="Length_value" name="VALUE" placeholder={{amount}}>
			<select ng-model="ucc.selected_imperial_length_unit"
					ng-options="unit.imperial_length_unit_name for unit in ucc.imperial_length_units"
					ng-change="ucc.showSelectedLengthUnit()"></select>
					<button ng-click="amount = number*10" ng-init="amount=0">Convert</button>
			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<thead>
							<tr>
								<th colspan="2">Metric</th>
								<th>Imperial</th>
							</tr>
							<tr>
								<td colspan="2">1 millimeter [mm]</td>
								<td>0.03937 in</td>
							</tr>	
							<tr>
								<td>1 centimeter [cm]</td>
								<td>10mm</td>
								<td>0.3937 in </td>
							</tr>
							<tr>
								<td>1 meter [m]</td>
								<td>100cm</td>
								<td>1.0936 yd</td>
							</tr>	
							<tr>
								<td>1 kilometer</td>
								<td>1000 m</td>
								<td>0.6214 mile</td>
							</tr>
						</tbody>
					</table>
				</div>	
				<div>
				<p>Selected unit is:  <span ng-bind="ucc.selected_metric_length_unit.metric_length_unit_name"></span></p>
				<p>Converting to:  <span ng-bind="ucc.selected_imperial_length_unit.imperial_length_unit_name"></spam></p>
			
		</div>
	<script src="angular.js"></script>
	<script src="app.js"></script>
	</body>
</html>